.nav-menu {
  text-align: right;
}
.nav-spacing {
  margin-left: 20px;
}
.image-link {
  text-decoration: none;
  color: blue;
}

header {
  text-align: center;
  margin: 0 0 80px;
}

.whales-image {
  display: block;
  margin: 0 auto;
}

.content-wrapper {
  width: 560px;
  margin: 20px auto;
  padding: 40px;
  background-color: #fafafa;
}

.book-image {
  height: 200px;
  float: left;
  margin-right: 40px;
}

blockquote {
  font-style: italic;
  font-size: 20px;
}

.opening {
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  color: #f00;
}